*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
#box{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	header{
		width: 100%;
		height: 55px; 
		background: #fff; 
		
	}
	main{
		div{
			width: 100%;
			height: 85px;
			background: #2B809D 
		}
	}
	footer{
		width: 100%;
		height: 60px;
		#yuan{
			width: 90px;
			height: 90px;
			position: fixed;
			left: 50%;
			bottom: 40px;
			margin-left: -45px;
			background: #ccc;
			border-radius: 50%;
		}
	} 
}